<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Resources/css/style.css">
    <link rel="shortcut icon" href="Resources/img/favicon.ico" type="image/x-icon">
    <title>{{page_title}}</title>
</head>
<body>
    <div class="all">
        <header class="header-all">
            <nav>
                <a href="{{home_link}}">Home</a>
                <a href="{{about_link}}">Sobre</a>
                <a href="{{admin_link}}" class="admin-link">Admin</a>
            </nav>
        </header>

        <div class="conteudo">
            {{area_dinamica}}      
        </div>
    </div>
</body>
</html>